<style>
  textarea {width:500px;height:300px;}
  #editor { 
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  }
</style>

<div class="container" id="content">
  <div class="controls clearfix">
    <div class="pull-left">
      <div class="input-append">
        <input type="text" name="name" class="span6" />
        <span class="add-on"><i class="icon-pencil"></i></span>
      </div>
    </div>
    
    <div class="pull-right">
      <div class="btn-toolbar" style="display:inline-block;">
        <div class="btn-group">
          <a id="new-script-btn" class="btn" href="#" title="New Script"><i class="icon-file"></i></a>
          <a id="save-script-btn" class="btn" href="#" title="Save Script"><i class="icon-hdd"></i></a>
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-white icon-play"></i> Execute
          </a>
          <ul id="execute-script-btn" class="dropdown-menu">
          <% organizations.forEach(function(org) { %>
            <li class="organization"><%= org.name %></li>
            <% org.rooms.forEach(function(room) { %>
              <li><a href="#<%= room._id %>"><%= room.name %> <span class="user-count"><%= rooms[room._id] ? '(' + rooms[room._id].count + ')' : '' %></span></a></li>
            <% }) %>
          <% }) %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div id="alert-container"></div>
  
  <div style="position:relative;height:500px;">
    <div id="editor"></div>
  </div>
  
  <div style="border:1px solid #ccc;height:140px;overflow-y:scroll;">
    <ul class="script-list">
    <% _(scripts).sortBy('name').forEach(function(script) { %>
      <li class="clearfix">
        <a href="<%= script._id %>" class="pull-left"><%= script.name || script.code %></a>
        <div class="script-controls pull-right text-right">
          <a href="<%= script._id %>" action="remove"><i class="icon-remove"></i></a>
        </div>
      </li>
    <% }) %>
    </ul>
  </div>
  
  <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <script>
    var encode = function(v) {
      return encodeURIComponent(v).replace(/\./g, '-');
    };
    
    var rooms = <%- JSON.stringify(rooms) %>;
    var update_rooms = function() {
      $.getJSON('/api/clients', function(data) {
        $('#execute-script-btn .user-count').html('');
        _(data).forEach(function(v, k) {
          $('#execute-script-btn [href="#' + k + '"] .user-count').html('(' + v.count + ')');
        });
        rooms = data;
      });
    };

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.getSession().setMode("ace/mode/javascript");
    editor.getSession().setUseSoftTabs(true);
    editor.getSession().setTabSize(2);
  
    $(function() {
      var script_map = <%- JSON.stringify(script_map) %>;
      setInterval(update_rooms, 5000);
      
      $('#new-script-btn').on('click', function(evt) {
        $('input[name="name"]').val('');
        editor.setValue('');
        editor.clearSelection();
        
        evt.preventDefault();
        return false;
      });
      $('#save-script-btn').on('click', function(evt) {
        var script = {code: editor.getValue()};
        var name = $('input[name="name"]').val();
        if (name && name.replace(/ /g, '').length > 0) {
          script.name = name;
        }
        
        $.post('/api/scripts', script, function() {
          console.log(arguments);
          
          var html = '<strong>Great!</strong> Your script has been saved';
          var $alert = $('<div class="alert alert-success">' + html + '</div>').hide();
          
          $('#alert-container').append($alert);
          $alert.slideDown();
          setTimeout(function() {
            $alert.slideUp(function() {
              $alert.remove();
            });
          }, 5000);
        });
        
        evt.preventDefault();
        return false;
      });
      $(document).on('click', '#execute-script-btn a', function(evt) {
        var data = {command: editor.getValue()};
        var match = /([^:]+:[^:]+):(.+)/.exec($(this).attr('href').slice(1));
        
        $.post('/api/organizations/' + match[1] + '/rooms/' + match[2] + '/commands', data);
        
        $(this).parents('.btn-group').removeClass('open');
        evt.preventDefault();
        return false;
      });
      
      $(document).on('click', '.script-list a', function(evt) {
        var self = this;
        var script_name = $(this).attr('href');
        var script = script_map[script_name];
        
        if ($(this).attr('action') === 'remove') {
          $.ajax({
            url: '/api/scripts/' + encode(script_name),
            type: 'POST',
            dataType: 'json',
            headers: {'x-http-method-override': 'DELETE'}
          }).success(function() {
            delete script_map[script_name];
            var $li = $(self).parents('li');
            $li.slideUp(function() {
              $li.remove();
            });
          });
        } else {
          $('input[name="name"]').val(script.name);
          editor.setValue(script.code);
          editor.clearSelection();
        }
        
        evt.preventDefault();
        return false;
      });
    });
  </script>
</div>