<div class="container" id="content">
  <h2><%= organization.name %></h2>

  <div class="row">
    <div class="span6">
      <span>API key: <code><%= organization.api_key %></code></span>
    </div>
  </div>

  <h3>Users</h3>
  <div class="row">
    <div class="span4">
      <form class="form-inline" method="POST" action="/organizations/<%= organization._id %>/users">
        <input type="text" name="name" class="input-large" placeholder="gob@bluthcompany.com" />
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <% _.map(organization.users, function(u) { %>
        <tr>
          <td><%= u %></td>
          <td><a href="/users/<%= encode(u) %>">Edit</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <h3>Rooms</h3>
  <div class="row">
    <div class="span4">
      <form class="form-inline" method="POST" action="/organizations/<%= encode(organization._id) %>/rooms">
        <input type="text" name="name" class="input-large" placeholder="Bluth Company Inc" />
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <% _.map(organization.rooms, function(r) { %>
        <tr>
          <td><%= r.name %></td>
          <td><a href="/organizations/<%= encode(r.organization) %>/rooms/<%= encode(r.name) %>">Edit</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>